<!-- Bio -->
<section class="block-section">
  <div class="nd-wrapper">
    <div class="block-link_section">
      <div class="block-link_target">Bio</div>
    </div>
    <div class="block-title_author">Nicole A. Duncan</div>
    <div class="block-paragraph_container">
      <div class="block-paragraph">
        <p>Nicole A. Duncan was born in Baltimore, Maryland, and raised by her maternal grandmother.  Though she was a product of an unfavorable environment, surrounded by the drug world, God had a plan for her life.  Nicole attended, and graduated from Paul Laurence Dunbar High School.</p>
        
        <p>Nicole is unwavering in her faith; she is an active and dedicated member of Faith Christian Worship Center under the anointed leadership of Pastor Gary G Johnson, and First Lady Naomi Johnson.  Pastor Gary has been instrumental in Nicole’s faith, development, and helping her to define her purpose in life.  Nicole committed her life to the service of God, as a leader in her church.</p>
        
        <p>Knowing the adverse impact of being raised without both parents, she prides herself on her dedication to her family, particularly her role as a mother and sister.  Nicole believes the word of God, and is adamant about rearing and admonishing her children in the knowledge of Christ.  Being a mirror for her children, Nicole does not believe in simply being average.  Even though difficulties and struggles in life, she holds fast to Romans 8:28, “And we know that in all things God works for the good of those who love him, who have been called according to His purpose.”</p>
      </div>
      <div class="block-paragraph last">
        <p>Being joyful in hope, patient in afflication, faithful in prayer (Romans 12:12), Nicole has now embarked upon her season of favor.  As a published author of “Unmasking the Truth”, Nicole shares her testimony, life journey and God’s favor, in hopes that others will develop a closer walk with God.  Truly living her mantra, “You will achieve what you believe, you will believe in what you want to achieve and you will conquer and have dominion of your dreams.”  Nicole embraces her new journey as a published author, and speaker.  Her excitement in what God did through this project is infectious.  Nicole is hopeful that others will read her book and have the same courage to let their voices be heard.</p>
        
        <p class="duncan">“YOU WILL ACHIEVE WHAT YOU BELIEVE, YOU WILL BELIEVE IN WHAT YOU WANT TO ACHIEVE AND YOU WILL CONQUER AND HAVE DOMINION OF YOUR DREAMS.”</p>
        
        <p>Believing that “she can do all things through Christ which gives her strength.” (Phillipians 4:13) She shares her life journey with her children: Kasmir, Kendrick and Kennard.  Though she knows that her strength comes from the Lord, she is excited that in this and every sesason, her children, family and spiritual family are standing alongside of her to offer her the support she needs.</p>
      </div>
    </div>
  </div>
</section>