<!-- Contact -->
  <section class="block-section block-section_alt">
    <div class="nd-wrapper">
      <div class="footer-logo"><img src="/assets/images/faith-believer-logo-v2.jpg" /></div>
      <br><br/>
      <div class="block-press">FOR PRESS &amp; INQUIRIES</div>
      <div class="block-email">
        <a href="mailto:faith@nicoleaduncan.com" target="_blank">Faith@NicoleADuncan.com</a><br/>
        <div class="block-pobox">
          P.O. Box 18678<br/>
          Baltimore, MD 21216<br/>
        </div>
      </div>
      <br/><br/>
      <div class="block-press">FOR BOOKING EVENTS</div>
      <div class="block-email"><span class="nobr">484-324-8409</span></div>
      <div class="social">
        <a href="https://www.facebook.com/authornicoleaduncan/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>&nbsp;
        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>&nbsp;
        <a href="http://www.linkedin.com/in/authornicoleduncan" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>