

 <header class="nd-header">
   <div class="nd-logo">
   		<a href="{{ site.baseurl }}" class="text-logo">Nicole A. Duncan</a>
   	
   		<span class="menu">
   			<a href="#" class="menu-btn">&equiv;</a>
   		</span>
   </div>

   <!-- Mobile Menu -->
   
   <ul class="desktop-menu responsive-menu menu-properties">
     <li><a href="https://www.amazon.com/Unmasking-Truth-Sins-Secrets-Salvation/dp/0997677805/ref=sr_1_1?s=books&ie=UTF8&qid=1469756806&sr=1-1&keywords=Unmasking+the+truth+nicole+duncan" class="home-link" target="_blank">Buy Book</a></li>
     <li><a href="http://nicoleaduncan.blogspot.com/" class="home-link" target="_blank">Read Blog</a></li>
   </ul>

 </header>