/** Contents:
*
*
* Layout
* Wrappers
* Image Properties
* Links
* Special Links (Paypal and Amazon)
* Misc
*
*
*/

*, 
*:before, 
*:after {
  box-sizing: border-box;
}


// Layout
.block-section { 
    padding: 5em 0; 
    position: relative;
    @extend %clearfix;
    @include laptop { 
        padding: 3em 0 7em; 
    }
}
.block-section_alt { 
    @include laptop { 
        padding: 4em 0; 
    }
 }
.block-bg { 
    background-size: cover; 
    background-position: center center; 
    background-color: $brand-color-lighter;
}


 // Wrappers
.nd-wrapper { 
    width: 1100px; 
    margin: 0 auto;
    @include laptop { 
        width: 850px; 
    }
    @include palm-wide { 
        width: 750px; 
    }
    @include palm { 
        width: 500px; 
    }
    @include mobile-wide { 
        width: 370px; 
    }
    @include squeeze { 
        width: 300px; 
    }
}
.block-hero_v2 { 
    float: left; 
    position: absolute; 
    left: 15em; 
    @include laptop { 
        left: 6em; 
    }
    @include palm-wide { 
        left: 2em; 
    }
    @include palm { 
        left: 37%; 
        top: 30%; 
    }
    @include squeeze { 
        left: 28%; 
        top: 34%;
    }
}


// Image Properties
.nicole { 
    width: 14em;
    @include palm { 
        opacity: 0.3; 
        width: 12em;
    }
}


// Links
.btn a { 
    border: 2px solid $brand-color; 
    width: 8em; 
    display: block; 
    border-radius: 5px; 
    padding: .5em 0; 
    color: $brand-color; 
    text-decoration: none; 
    margin: 0 auto;
    cursor: pointer;
}
.btn a:hover { 
    border: 2px solid #000; 
    color: #000;
    cursor: pointer;
}
.btn-brand { 
    text-align: center;
    margin: 0 auto; 
    text-transform: uppercase;
}
.block-link_section { 
    position: absolute; 
    top: -2em; 
    width: 55px; 
    height: 55px; 
    right: 50%; 
    background: $brand-color; 
    border-radius: 50%; 
    text-align: center; 
    padding-top: 15px;
    @include laptop { 
        right: 48%; 
    }
    @include palm { 
        right: 45%; 
    }
    @include squeeze { 
        right: 42%; 
    }
}
.block-link_target { 
    color: white; 
    text-transform: uppercase; 
    font-size: 0.9em; 
}


// Special Links (Paypal and Amazon)
.button {
    display: inherit;
    float: left;
    margin-right: 15px;
}
#paypal-button,
.button input {
    width: 55px;
}
.amazon-button {
    width: 130px;
}
.button form {
    width: 75px;
}
.button-wrapper {
    display: inherit;
    width: 236px;
    margin: auto;
}
.for_purchase {
    @include small-font;
    text-align: center;
    margin-bottom: 25px;
}


// Misc
.nobr { 
    white-space: nowrap; 
}
.marbot5 { 
    margin: 5em 0; 
}