*, *:before, *:after {
  box-sizing: border-box;
}

.nd-header { padding: 10px; display: inline-block; width: 100%; background: #fff; position: fixed; z-index: 3;}
.nd-logo { text-transform: uppercase; font-family: $font-2; color: $brand-color; padding-left: 30px; float: left; display: inline-block; }
.nd-menu { display: inline-block; float: right; padding-right: 50px; }
.nd-menu-properties { text-transform: uppercase; border: 2px solid $brand-color; padding: 4px 15px; margin-right: 15px; font-size: 0.8em; color: $brand-color; }
.nd-menu-properties:last { margin-right: none; }


.nd-intro-section { padding: 2em 0 12em 0;  }
.nd-intro-hero {
	background-image: url('/assets/images/author-nicoleduncan.png');
	background-size: cover;
	height: 190vh;
	position: relative;
	margin: 30px 0 0 65px;
	width: 30%;
	float: left;
}
.nd-intro-text { float: left; width: 60%; text-align: center; }
.nd-intro-text_title { padding: 2em 0; font-size: 4em; font-family: $font-3;  }

.nd-blockquote_container { padding-left: 5em; }
.nd-blockquote { text-align: left; font-family: $base-font-family; padding-bottom: 7em; font-weight: 200;}
.nd-blockquote_author { text-align: right; padding: 1em 5em 0 0; font-size: 0.8em; color: $brand-color; line-height: 1.3em;}

.nd-book-section { background: #EEEDEE !important; background-image: url('/assets/images/pattern-dark.png'); padding: 5px; position: relative; }
.nd-book_img { width: 40%; float: left; }
.nd-book_text { width: 50%; float: left; }

.clear { clear: both; }
.nd-section { background: red; padding: 5em 0; position: relative;  }


/* Setting up wireframe */
.block-section { padding: 5em 0; position: relative;}
.block-hero { background-image: url('/assets/images/author-hero.png'); background-repeat: no-repeat; background-size: 19%; background-position: 90px 80px;}
.blue { background: #c4c4c4; }
.gray { background: #3e3e3e; }
.block-testimonial { width: 52%; padding: 2em 0; float: right; position: relative; margin-right: 5em;}
.block-testimonial_title { font-family: $font-3; font-size: 3em; text-align: center; padding-bottom: 1em;}

.block-author { text-align: right; padding: 1em 6em 1em 0; color: $brand-color;}
.block-link_section { position: absolute; top: -2em; width: 55px; height: 55px; right: 50%; background: $brand-color; border-radius: 50%; text-align: center; padding-top: 15px;}
.block-link_target { color: white; text-transform: uppercase; font-size: 0.7em; }
.block-book { width: 35%; margin-left: 7em; position: relative; float: left;}
.block-book_text { width: 35%; float: left; margin-left: 5em; }
.block-book_bigtext { font-size: 1.4em; font-weight: 300; padding: 1em 0 3em 0; }
.block-book_smalltext { width: 80%; margin: 0 auto; font-size: 0.9em;  padding-bottom: 3em; }
.btn { border: 2px solid $brand-color; width: 8em; display: block; border-radius: 5px; padding: .5em 0;}
.btn-brand { text-align: center;margin: 0 auto; text-transform: uppercase;}
.block-paragraph_container { padding: 1em 0; width: 80%; margin: 0 auto; }
.block-paragraph { width: 49.5%; float: left; }
.block-col { padding: 1em 0; float: left; }
.block-col1 { width: 40%; padding-left: 1em;}
.block-col2 { width: 55%; }
.block-newsletter_container { padding: 1em 0; }
.block-tour_col { width: 40%; float: left; }
.block-download { width: 50%; text-align: center; margin: 0 auto; }
.block-img { text-align: center; }
.block-bg { background-image: url('/assets/images/pattern-dark.png'); background-size: cover; background-position: center center; background-color: #eeedee;}


/* Clearfix Hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */