// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-2: "PT Sans", Helvetica, sans-serif;
$font-3: "Petit Formal Script", cursive, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #D5843C;
$brand-color-lighter: #ebe6d9;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-laptop: 1100px;
$on-palm-wide: 900px;
$on-palm: 750px;
$on-mobile-wide             : 550px;
$on-squeeze                 : 380px;